
  
  /* Add styles for the dialog container */
  .dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: auto;
    height: auto;
    max-width: auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add styles for the dialog title */
  .dialog-container h2 {
    margin-bottom: 20px;
  }
  
  /* Add styles for the form inside the dialog */
  .createProjectForm {
    display: flex;
    flex-wrap: wrap; /* Wrap the input fields to the next line if they don't fit in a row */
    justify-content: space-between; /* Add space between the input fields */
    width: auto;
    height: auto;
  }
  
  /* Add styles for form labels */
  .createProjectForm label {
    width: 30%; /* Set the width of labels to 30% to fit three labels in a row */
    margin-bottom: 5px;
  }


  
  /* Add styles for form inputs */
  .createProjectForm input {
    width: 65%; /* Set the width of inputs to 65% to fit three inputs in a row */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Add styles for the submit button */
  .createProjectForm button {
    width: 45%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Center the dashboard buttons and add some spacing */
  .dashboard-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dashboard-container button {
    margin: 10px 10px 10px 10px;
  }
  .response-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .response-table th,
  .response-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .response-table th {
    background-color: #f2f2f2;
  }
  
  .response-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .response-table tr:hover {
    background-color: #ddd;
  }
  