/* Toast Notifications */
.buttons {
  padding: 10px;
  position: relative;
  display: grid;
}
/* 
.notifications {
position: fixed;
top: 100px;
right: 10px;
z-index: 10000;
}

.toast{
  position: relative;
  padding: 0px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #fff;
  width: 400px;
  display: grid;
  grid-template-columns: 40px 1fr 70px;
  border-radius: 5px;
  --color: #0abf30;
  background-image: linear-gradient(to right, #0abf3055, #22242F 30%);
  animation: show_toast 0.3s ease forwards;
}

.toast i{
  color: var(--color);
  cursor: pointer;
}
.toast .title{
  position: relative;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  left: 0;
  top: 0;
  justify-content: left;
  align-items: flex-start;
}
.toast i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: var(--color);
  cursor: pointer;
}
.toast span,
.toast .close{
  opacity: 0.6;
  color: #fff;
}

@keyframes show_toast {
0% {
  transform: translateX(80%);
}
40% {
  transform: translateX(-5%);
}
80% {
  transform: translateX(-5%);
}
100% {
  transform: translateX(0%);
}
}
.toast::before{
  position: absolute;
  bottom: 0;
  left: 5px;
  background-color: var(--color);
  /* box-shadow: 0 0 10px var(--color); 
  content: '';
  width: 100%;
  height: 3px;
  animation: timeOut 5s linear 1 forwards;
}
@keyframes timeOut{
  to{
      width: 0%;  
  }
}
/* error 
.toast.error{
 --color: #f24d4c;
 background-image: linear-gradient(to right, #f24d4c55, #22242F 30%);
}
/* warning 
.toast.warning{
  --color: #e9bd0c;
  background-image: linear-gradient(to right, #e9bd0c55, #22242F 30%);
}
/* info 
.toast.info{
  --color: #3498db;
  background-image: linear-gradient(to right, #3498db55, #22242F 30%);
}
 */


/* sub Toast Function CSS */

.sub-notifications {
  position: fixed;
  bottom: 10px; /* Adjust this value for the desired vertical position */
  right: 10px;
  color: #fdf8f8;
  z-index: 10000;
}


.sub-toast {
  position: relative;
  padding: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #fdf8f8;
  width: 300px; /* Adjust the width as needed */
  display: grid;
  grid-template-columns: 30px 1fr 30px; /* Adjust icon and title column sizes */
  border-radius: 5px;
  background-color: #333; /* Background color for sub-toast */
  animation: show_sub_toast 0.3s ease forwards;
}

.sub-toast i {
  color: var(--color);
  cursor: pointer;
}

.sub-toast .title {
  position: relative;
  font-size: medium; /* Adjust the font size as needed */
  font-weight: bold;
  display: flex;
  left: 0;
  top: 0;
  justify-content: left;
  align-items: flex-start;
}

.sub-toast i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium; /* Adjust the font size as needed */
  color: var(--color);
  cursor: pointer;
}



.sub-toast span,
.sub-toast .close {
  opacity: 0.6;
  color: #fff;
}

@keyframes show_sub_toast {
  0% {
    transform: translateX(80%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

.sub-toast::before {
  position: absolute;
  bottom: 0;
  left: 5px;
  background-color: var(--color);
  box-shadow: 0 0 5px var(--color);
  content: '';
  width: 100%;
  height: 3px;
  animation: sub_timeOut 5s linear 1 forwards;
}

@keyframes sub_timeOut {
  to {
    width: 0%;
  }
}

/* sub-toast success */
.sub-toast.success {
  --color: #316b33; /* Background color */
  background-color: #333; /* Keep background color unchanged */
  color:(--color);
}

/* sub-toast error */
.sub-toast.error {
  --color: #993e3e;
  background-color: #333;
  color:(--color);
}

/* sub-toast warning */
.sub-toast.warning {
  --color: #99863a;
  background-color: #333;
  color:(--color);
}

/* sub-toast info */
.sub-toast.info {
  --color: #14659b;
  background-color: #333;
  color:(--color);
}


/* Loader Animation CSS */
#loadingOverlay {
  user-select: none;
    pointer-events: none;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 240, 240, 0.205);
    backdrop-filter: blur(3px);
    z-index: 9999;
  }
  
  .loader-container {
    pointer-events: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(2px);
    z-index: 9999;
  }
  
    .loader {
      animation: rotate 1s infinite;
      height: 50px;
      width: 50px;
      pointer-events: none; 
    }
    
    .loader:before,
    .loader:after {
      border-radius: 50%;
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      pointer-events: none; 
    }
    
    .loader:before {
      animation: ball1 1s infinite;
      background-color: #cb2025;
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
      pointer-events: none; 
    }
    
    .loader:after {
      animation: ball2 1s infinite;
      background-color: #00a096;
      box-shadow: 30px 0 0 #97bf0d;
      pointer-events: none; 
    }
    
    @keyframes rotate {
      0% {
        transform: rotate(0deg) scale(0.8);
      }
      50% {
        transform: rotate(360deg) scale(1.2);
      }
      100% {
        transform: rotate(720deg) scale(0.8);
      }
    }
    
    @keyframes ball1 {
      0% {
        box-shadow: 30px 0 0 #f8b334;
      }
      50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        transform: translate(15px, 15px);
      }
      100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
      }
    }
    
    @keyframes ball2 {
      0% {
        box-shadow: 30px 0 0 #97bf0d;
      }
      50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        transform: translate(15px, 15px);
      }
      100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
      }
    }
    
    /* End of Loader Animation CSS */
    
    /* Custom Right Click Menu CSS */
    .wrapper{
    
      position: absolute;
      width: 300px;
      z-index: 10000;
      border-radius: 10px;
      background: #ffffffe8;
      box-shadow: 0 12px 35px rgba(0, 0, 0, 0.493);
      }
  
      .wrapper .menu{
      padding: 10px 12px;
      }
  
      .content .item{
      list-style: none;
      font-size: 22px;
      height: 50px;
      display: flex;
      width: 100%;
      cursor: pointer;
      align-items: center;
      border-radius: 5px;
      margin-bottom: 2px;
      padding: 0 5px 0 10px;
      }
      .content .item:hover{
      background: #f3c6c6;
      }
      .content .item span{
      margin-left: 8px;
      font-size: 19px;
      }
      .content .setting{
      display: flex;
      margin-top: -5px;
      padding: 5px 12px;
      border-top: 1px solid #ccc;
      }
      .content .share{
      position: relative;
      justify-content: space-between;
      }
      .share .share-menu{
      position: absolute;
      background: #ffffffe8;
      width: 200px;
      right: -200px;
      top: -35px;
      padding: 13px;
      opacity: 0;
      pointer-events: none;
      border-radius: 10px;
      box-shadow: 0 12px 35px rgba(0, 0, 0, 0.493);
      transition: 0.2s ease;
      }
      .share:hover .share-menu{
      opacity: 1;
      pointer-events: auto;
      }
      
    /* End of Custom Right Click Menu CSS */
  