/* Custom Dialog CSS for All Dialogs */
dialog {
  display: flex;
  flex-direction: column;
  background-color: rgba(168, 175, 148, 0.651);
  border-radius: 10px;
  border: 2px solid #2885f0de;
  box-shadow: 0px 0px 15px rgba(177, 30, 235, 0.932);
  position: relative;
}

/* Dialog back color */
dialog::backdrop {
  backdrop-filter: blur(1px);
  background-color: rgba(250, 248, 252, 0.349);
}


  /* Main Project Dialog Width & Height */

  .projectDialog {
    max-width: 90%;
    max-height: auto;
    
  }
  

  
/* Add User Dialog Width and Height */

.userDialog {
 
 max-width:50%;
 max-height: auto;
}


/* Project Setting Dialog Width & Height */
.settingDialog {
 
  max-width:70%;
  max-height: auto;
}

/* Confirm Dialog Width & Height */
.confirmdialog {
  max-width:50%;
  max-height: auto;
}


/* Title of the dialog */
.dialogTitle {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-default);
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #ac5353;
}

/* Sub Title of the dialog */
.subheading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: var(--color-white);
  border-radius: 10px 10px 0 0;
  background-color: var(--color-second);
  padding: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}


/* Flex layout for dialog sections */
.dialog-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  gap: 1px;
  background-color: #1f9ec48c;
  padding: 2px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 1px 3px rgba(141, 3, 3, 0.411);
} 

  /* Label styling for flex layout */
.dialog-section label {
  font-weight: bold;
  color: #1a1919;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-bottom: 3px;
  white-space: nowrap;
}

/* Input styling for flex layout */
.dialog-section input {
  padding: 8px;
  border: 0px 0px 0px 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #9e00ff;
  background-color: rgba(195, 214, 236, 0.459);
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
} 

    
.dialog-section input:focus {
  border-bottom: 2px solid var(--color-light);
  background-color: var(--color-yellow);
  color: var(--dark-gray);

  
}
  

.dialog-section input[type="text"] {
  width: 87%;
}

.dialog-section input[type="number"] {
  width: 50px;
} 


.dialog-section input[type="text"]:read-only, .dialog-section input[type="number"]:read-only, .dialog-section input[type="text"]:disabled, .dialog-section input[type="number"]:disabled  {
  border-bottom: 2px solid var(-dark-gray);
  background-color: var(--medium-gray);
  color: var( --color-white);
  font-weight: bold;
}



/* Flex layout for subsections  */
.subsection {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
    

/* Full Width Input Types */

.full-width-input{
  display: flex;
  width: 100%;
  flex: auto;

}

.full-width-input label{
   width: 15%;
  }


.full-width-input input{
  width: 100%;
  }


  /* Custom Dialog Toggle Buttons */

  .toggle-button {
    position: relative;
    width: 45px;
    height: 20px;
    background-color: #ccc;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 10px;
  }

  .toggle-button input[type="checkbox"] {
    display: none;
  }

  .toggle-button label {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 20px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .toggle-button input[type="checkbox"]:checked + label {
    background-color: #9e00ff;
  }

  .toggle-label:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s;
  }

  .toggle-button input[type="checkbox"]:checked + label:before {
    transform: translateX(25px);
  }

  
/* For Custom Setting Dialogs Select Menu Emoji for options */
select {
  font-size: 16px;
  margin-right: 8px;
  list-style: none;
  border-radius: 10px;
  background-color: var(--medium-gray);
}


/* Buttons of Dialog of CSS */
  
  .btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgba(195, 214, 236, 0.568);
    border-radius: 30px;
    
  }

  .btn::before {
    display: inline-block;
    margin-right: 5px;
    font-family: "Font Awesome"; 
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
  
  .btn .closeDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
  }
  
  button.closeDialog:focus {
  
    outline: none; 
    box-shadow: 0 0 5px #9e00ff;
    background-color: aqua;
  }
  button.closeDialog:hover {
      background-color:  #9e00ff;
      cursor: pointer;
      box-shadow: 0 0 5px #0400ff;
  }


  .transition {
    transition: background-color 0.3s, color 0.3s;
    /* background: #9e00ff;  */
    color: #9e00ff;
    font-weight: bold;
  
  }
  
  .transition:focus {
    background-color: #9e00ff;
    color: #fff;
  }




    