
.loginPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .screen {
    position: relative;
    width: 400px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: visible; /* Adjusted to allow content overflow */
  }
  
  .userIcon {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: none;
    background: linear-gradient(90deg, var(--color-second), #1486c9);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-weight: 700;
    font-size: 80px;
    transition: 0.2s;
    box-shadow: 5px 5px 10px #fad017;
    color: rgb(248, 241, 241);
    z-index: 99;
  }
  
  .login__submit {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 16px; /* Adjust padding */
    font-size: 12px;
    background: linear-gradient(90deg, #e0f3d8, #19bcee);
    color: #050505;
    border-radius: 26px;
    border: rgba(250, 87, 12, 0.938) solid 3px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
    z-index: 99;
  }
  
  
.login__submit:active,
.login__submit:focus,
.login__submit:hover {
background:  #D35400;
color: #fff;    
border:none;
 border: rgba(198, 250, 12, 0.884) solid 3px;
/* box-shadow: 5px 5px 15px #195e04; */
}


  .title {
    margin-top: 10px !important; /* Adjust margin-top as needed */
    margin-left: 50px;
    background: none;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: rgb(253, 249, 249);
    padding-bottom: 5px;
  }
  
  /* Rest of your CSS remains the same */
  


.screen__content {
    z-index: 1;
    position: relative;     
    height: 100%;
}

.screen__background {        
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);    
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 420px; /* Adjusted height */
    width: 420px; /* Adjusted width */
    background: #04b17d;    
    top: -30px;
    right: 150px;    
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 180px; /* Adjusted height */
    width: 180px; /* Adjusted width */
    background: #f76905 ;    
    top: -130px;
    right: 0;    
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 500px; /* Adjusted height */
    width: 160px; /* Adjusted width */
    background: linear-gradient(270deg, #55ec55 , #1b5585  );   
    /* background: linear-gradient(270deg, #ED508F, #F1609A); */
    top: -50x;
    right: 0;    
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 360px; /* Adjusted height */
    width: 180px; /* Adjusted width */
    background: #88e488     ;    
    top: 400px;
    right: 50px;    
    border-radius: 60px;
}

.login {
    width: 280px; /* Adjusted width */
    padding: 20px;
    padding-top: 80px; /* Adjusted padding-top */
}

.login__field {
    padding: 16px 0px; /* Adjusted padding */
    position: relative; 
    
}



.login__input {
    border: none;
    border-bottom: 2px solid #6e655d;
    background: none;
    padding: 8px;
    left: 25px; 
    padding-left: 7px;
    font-weight: 700;
    font-weight: bold;
    width: 90%;
    font-size: 14px;
    transition: .2s;
    color: rgb(248, 241, 241);
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #fdfdfd;
    background: none;
}

.login__input:focus ~ .login__label,
.login__input:not(:placeholder-shown) ~ .login__label {
    top: -3px; /* Adjusted top position */
    font-size: 14px; /* Adjusted font-size */
    left: 25px; 
    font-weight: bold;
    color: #050505;
     transition: .5s;
}

.login__label {
    position: absolute;
    top: 25px; /* Adjusted top position */
    left: 25px; /* Adjusted left position */
    color: #050505;
    pointer-events: none;
    transition: 1s;
    font-weight: bold;
    font-size: 14px; /* Adjusted font-size */
}



.hidden {
    display: none;
  }


