@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --color-default:#004f83;
  --color-second:#126d6d;
  --color-white:#e4e2e2;
  --color-body:#84a5f8;
  --color-light:#5405ad;
  --color-ul:#58cae7fd;
  --accent-color: rgb(204, 0, 0);
  --lightest-gray: rgb(212, 212, 206);
  --light-gray: rgb(170, 169, 169);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);
  --color-yellow: rgb(243, 181, 11);
  --color-header: rgb(248, 171, 175);
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
  --sidebar-min-width: 100px;
  --sidebar-max-width: 200px;
  --header-height: 30px;

}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg,  #2d2e2e, #6f996f, #ebf0ed);   
  background-blend-mode: multiply;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Poppins', sans-serif;
}

.login-Header {
  display: block;
  user-select: none;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  overflow:hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--medium-gray);
  border-radius: 0px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  color: var(--color-white);
}


  .header-content {
    user-select: none;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-content: stretch;
    text-align: center;
    padding: 5px;
    /* width: auto; */
    height: var(--header-height);
    font-size: 22px;
    font-weight: 600;
    border-radius: 0px;
    background-color: var(--color-second);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.616);
    color: var(--color-white);
    overflow: visible;
    position: sticky;
    z-index: 10000;
  }
  

  .topTitle {

    justify-content:space-between;
    align-content: center;
    text-align: center;
  }
  
  #projectSettings{
    position: absolute;
    left: 5px;
    width: auto;
  }


  #projectSettings {

  position: absolute;
  left: 5px !important;
  top: 0px !important;
  padding: 5px !important;
  z-index: 100000 !important;
  border-radius: 5px !important;
  background-color: rgba(26, 97, 43, 0.808) !important;
  }
  
  #projectSettings:hover {
  /* border-radius: 5px !important; */
  background-color: rgba(39, 131, 108, 0.959) !important;
  z-index: 100000 !important;
  }


  #toggleApplicationtoWebApp {
    position: absolute !important;
    width: fit-content !important;
    left: 100px !important;
    top: 0px !important;
    z-index: 100000 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    padding: 5px !important;
    border-radius: 15px !important;
    color: black !important;
    background-color: var(--color-yellow)!important;
  }
  
  .user-info {
    display: flex;
    position: absolute;
    left: 10px;
    justify-content:center;
    align-items: stretch;
    width: 30%;
    user-select: none;
    text-align: center;
    z-index: 10000;
  }
  
  #userIcon {
    color: var(--color-light);
  } 
  
  .fullname {
    /* align-items: center; */
    /* position: absolute; */
    /* left: 250px; */
    border: none !important;
    color: var(--color-light) !important;
    /* font-size: 1.5rem;
    font-weight: 800; */
    border-radius: 10px !important;
  
  }
  
  
#logoutButton {

  position: absolute !important;
  right: 0px !important;
  top: 5px !important;
  /* padding: 5px !important; */
  z-index: 100000 !important;
border-radius: 5px !important;
background-color: rgba(250, 72, 72, 0.808) !important;
}

#logoutButton:hover {
/* border-radius: 5px !important; */
background-color: red !important;
z-index: 100000 !important;
}

  

.loginPanel {
background: linear-gradient(180deg,  #2d2e2e, #6f996f, #ebf0ed);   
background-blend-mode: multiply;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100dvh;
 width: 100dvw;
 overflow: hidden;
}

.container-login {
 border: 2px solid #ccc;
 background: linear-gradient(to right, #ff8c00, #ff5f6d);
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
 text-align: center;
 padding: 20px;
 border-radius: 10px;
 width: 30%;
 height: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
 /* overflow: hidden; */
 
}

label {
  user-select: none;
}

.icon-box {
  background: linear-gradient(90deg, var(--color-second), #1486c9);
border-radius: 50%;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: -50px;
left: 50%;
z-index: 4;
transform: translateX(-50%);
box-shadow: 5px 10px 10px var(--color-yellow);
}

.icon-box i {
font-size: 3em;
}

.login-text {
  z-index: 5;
 font-size: 30px;
 font-weight: bold;
 margin-top: 0px;
 position: absolute;
 top: 20%;

/* background-color: transparent; */

}

.input-box {
 display: flex;
 align-items: center;
 margin: 10px 0;
 padding: 10px;
 position: relative;
 width: 100%;
 z-index: 5;

}

.input-box i {
 margin-right: 10px;
 color: #e7f709;
}

.input-box input {
background-color: transparent;
 padding: 10px;
 border: none;
 width: 100%;
 border-bottom: 3px solid #f3ebeb;
 outline: none;
 /* flex: 1; */
 font-size: 20px;
 font-weight: 600;
}

.input-box label {
 position: absolute;
padding: 10px;
 left: 30px;
 top: 50%;
 font-weight: 600;
 font-size: 20px; 
 transform: translateY(-50%);
 transition: all 0.5s ease-in-out;
color: #000;
}

.input-box input:focus + label,
.input-box input:valid + label {
 top: 0px;
 font-size: 16px;
 color: var(--color-white); /* Label color on focus */
}

.input-box input:focus {
 border-bottom: 3px solid yellow; /* Thick border on focus */
}	

.submit-button {
background: linear-gradient(to right, var(--color-light), var(--color-yellow));
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 50px;
font-size: 16px;
font-weight: 600;
cursor: pointer;
position: absolute;
bottom: -20px; /* Adjust this value as needed */
left: 50%;
box-shadow: 5px 5px 5px var(--color-light);

transform: translateX(-50%);
}

.submit-button:active,
.submit-button:focus,
.submit-button:hover {
background: linear-gradient(90deg, #565855, #e28140);
color: #fff;    
border:none;
box-shadow: 5px 10px 2px var(--color-yellow);

} 


.hidden {
    display: none;
  }


.screen__background {        
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);    
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
  /* mix-blend-mode: screen; */
  mix-blend-mode:screen;
}

.screen__background__shape1 {
  height: 100%; /* Adjusted height */
  width: 100%; /* Adjusted width */
  background: linear-gradient(270deg, #797c76, #7f22aa  );   
 
  top: -25%;
  left: -50%;    
  border-radius: 72px 72px 72px 72px;
  z-index: -1;
}

.screen__background__shape2 {
  height: 70%; /* Adjusted height */
  width: 70%; /* Adjusted width */
  background: linear-gradient(270deg, #676867, #742e03  );   
 
  top: -45%;
  right: -0%;    
  border-radius: 72px 72px 72px 72px;
  z-index: 3;
}

.screen__background__shape3 {
  height: 100%; /* Adjusted height */
  width: 50%; /* Adjusted width */
  background: linear-gradient(270deg, #676867, #742e03  );   
  /* background: linear-gradient(270deg, #ED508F, #F1609A); */
  top: 5%;
  right: 20%;    
  border-radius: 32px;
  z-index: 1;
}

.screen__background__shape4 {
  height: 100%; /* Adjusted height */
  width: 100%; /* Adjusted width */
  background: linear-gradient(270deg, #1ed3f3, #ee823f);      
  top: 100%;
  right: -50%;    
  border-radius: 60px;
  z-index: 2;
}
