  
  
/* Project Notifications for Running Projects*/


.notification-row .data-cell .status-pill {
    display: inline-block;
    padding: 4px 4px;
    width: 100%;
    border-radius: 50px;
    color: #000;
    margin: 4px, 4px, 4px, 4px;
   
  } 
  
  
  /* CSS for the title container */
  .notification-title-container {
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    font-weight: bolder;
    border-bottom: 1px solid royalblue;
  }
  
  /* CSS for the notification panel */
.project-popup {
  position: fixed;
  max-width: 400px; /* Adjust the width as needed */
  background-color: #80dbf1fd;
  border: 2px solid #444;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 4px 0px 4px 4px rgba(238, 34, 34, 0.548);
  right: 20px;
  bottom: 20px;
  font-size: 14px; /* Adjust the font size as needed */
}

/* CSS for the notification table */
.notification-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
  border-spacing: 0;
}

/* CSS for the notification header */
.notification-header {
  display: flex;
  font-weight: bold;
  text-align: left;
  background-color: #ccc;
  color: #000;
  border-bottom: 1px solid royalblue;
}

/* CSS for the header cell and data cell */
.header-cell,
.data-cell {
  padding: 5px;
  overflow: hidden;
  text-align: left;
  color: #000;
  white-space: nowrap; /* Prevent word wrapping */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
  flex-grow: 1; /* Let cells grow to take content width */
  font-size: 12px; /* Adjust the font size as needed */
}

/* CSS for the first child of data cells */
.data-cell:first-child {
  flex-basis: 20px; /* Set a fixed width for the first cell */
}

/* CSS for the notification row */
.notification-row {
  border-bottom: 1px solid royalblue;
  display: flex;
  border-collapse: separate;
  padding: 0.7rem;
  text-align: left;
  align-items: flex-start;
  border-radius: 5px;
  margin: 2px 0;
  background-color: #c0c0b9;
  font-size: 12px; /* Adjust the font size as needed */
}

/* Apply alternating row background color */
.notification-row:nth-child(even) {
  background-color: #f8d1b4;
}

/* Add hover effect */
.notification-row:hover {
  background-color: #fff6 !important;
  transform: scale(1.02);
  cursor: pointer;
}

/* CSS for the close button */
.project-popup .close-btn {
  background-color: var(--color-default);
  color: #fff;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px; /* Adjust the font size as needed */
}
  
  .highlighted-row {
    background-color: rgb(46, 114, 46) !important;
  }