@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --color-default:#004f83;
  --color-second:#117474;
  --color-white:#fff;
  --color-body:#e4e9f7;
  --color-light:#5405ad;
  --color-ul:#58cae794;

  --accent-color: rgb(204, 0, 0);
  --lightest-gray: rgb(10, 10, 8);
  --light-gray: rgb(144, 144, 144);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;

  --sidebar-min-width: 100px;
  --sidebar-max-width: 230px;

  --header-height: 40px;

}

*{
  font-family: 'Poppins', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg,  #19bcee, #dbfdcc, #4cf592);   
  background-blend-mode: multiply;
  overflow: hidden;
}

.container {
  display: flex;
  height: calc(100vh - var(--header-height)); /* Adjust height accordingly */
  overflow: hidden; /* Prevent content overflow */

 
}

.header-spacer {
  height: 20px; /* Adjust as needed */
}

.header {
  font-size: 18px;
}


header {
  box-sizing: border-box;
  display: flex;
  position: sticky;
  width: 100vw;
  height: var(--header-height);
  font-size: 22px;
  font-weight: 600;
  border-radius: 0px;
  background-color: var(--color-second);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  color: var(--color-white);
  padding: 10px 20px;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  align-content: space-between;
  z-index: 1;
  animation-fill-mode: both;
  transition: all 0.5s ease-in-out;
}


.sidebar{

  top: var(--header-height);
  left: 0;
  box-sizing: border-box;
  height: calc(100dvh-var(--header-height));
  width: var(--sidebar-min-width);
  margin-left: 2px;
  padding: 5px 14px;
  z-index: 99;
  border-radius: 50px;
  background-color: var(--color-default);
  transition: all .5s ease;
  align-items: center;
  align-content: center;
  justify-content: left;

overflow: auto;
    /* overflow: overlay; */
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  overflow: visible;
}


.sidebar::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
  cursor: grabbing;
  overflow: hidden;

}

.sidebar::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.63);
  visibility: hidden;
  cursor: grabbing;
 
}

.sidebar:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
  cursor: grabbing;

}

.sidebar.open{
  width: var(--sidebar-max-width);
  transition: all .5s ease;
  border-radius: 10px;
  overflow: visible;

}

.sidebar .top-sidebar {
  flex-direction: column;
  align-items: center;
}


.middle-sidebar {

  flex-grow: 1;
  margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
  width: 100%;
}


.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}

.sidebar .logo_details .logo_name{
  color:var(--color-white);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: right;
  align-content: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: left;
  left: 170px;
  transform: translateY(-50%);
}

#btn:hover {
  color: var(--color-light);

}

.sidebar .nav-list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow the list to grow to fill the available height */
  overflow: hidden; /* To hide overflowing content */
}


.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  width: 60px;
  font-size: 25px;
  text-align: le;
  justify-content: center;
  align-items: center;
}


.sidebar .count-wrapper:last-child,
.sidebar .divider:last-child {
  position: sticky;
  bottom: 0;
}

.sidebar li.count-wrapper:last-child,
.sidebar li.divider:last-child {
  order: 999; /* Set an order greater than others to make it appear at the bottom */
}


.sidebar li {
  flex: 1;
  position: relative;
  margin-left: 10px;
  list-style: none;
}

.sidebar li.divider {
  display: flex;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  border-radius: 50px;
  background-color: var(--color-ul);
  background-color: var(--color-default);
  position: relative;
  transition: all 0.5s ease;
  z-index: 12;
}

.sidebar li.divider::after {
  content: "";
  position: absolute;
  /* width: 100%;
  height: 100%; */
  transform: scaleX(0);
  border-radius: 50px;
  /* transition: transform 0.3s ease-in-out; */
  transform-origin: left;
  z-index: 999;
}

.sidebar li.divider .link_name {
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}


.sidebar.open li.divider .link_name {
  opacity: 1;
  pointer-events: none;
}

.sidebar li.divider i {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 50px;
}


.tooltip {
  position: fixed;
  top: 50%;
  left: calc(100% + 300px);
  transform: translateY(-50%);
  z-index: 1000;
  background-color: var(--color-default);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.74);
  padding: 8px 14px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 50px;
  white-space: nowrap;
  transition: opacity 0.4s ease;
  opacity: 0;
  pointer-events: none; /* Prevent interactions with tooltip */
}

.open .tooltip {
  display: none;
  opacity: 0;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  left: 0px;
  color:var(--color-white);
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  left: -5px;
  color:var(--color-default)
}

.sidebar li a .link_name{

  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  left:0;
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  left: 0;
  transition: color 0.3s ease, background-color 0.3s ease;
}

 /* .sidebar li i:hover {
  color: var(--color-light);
  background-color: var(--color-ul); 
 } */

.sidebar li a.active {
  background-color: var(--color-white);
  border-radius: 50px;
  left:0;
}

.sidebar li a.active::after {
  background-color: var(--color-white);
  left:0;
 
}

.sidebar li a.active .link_name,
.sidebar li a.active i {
  color: var(--color-second);
  
}

.sidebar li .count-wrapper {
  position: sticky;
}

.sidebar li .count {
  position: absolute;
  top: 50%;
  right: -0px; 
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-light);
  color: var(--color-white);
  z-index: 999;
}

#project-reload-link, #project-close-link  {
  background-color: #57c757;
  width: 95%;
  border-radius: 50px;
  font-weight: bold;
  /* width: auto; */
  padding: 2px;
}

#project-close-link {
  background-color: #ff5757; 

}

