


/* Main table CSS */

.table_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  top:var( --header-height);
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem rgba(226, 125, 125, 0.333);
  border-radius: 20px;
  overflow: hidden;
}

.table_box .table__header {
  height: 25px;
  display: flex;
  flex-direction: row;
  margin: 1px;
  border-radius: 10px;
  align-items: center;
  /* width: 90%; */
  justify-content: space-evenly;
  background-color: var(--lightest-gray);
  padding: 10px 10px 10px 10px;
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
}

.table__header  {
  overflow: visible !important;
}

.blogsection {
  background-color: var(--medium-gray) !important;
}

.blogsection input {
border-radius: 10px;
padding: 5px;

}

.blogsection input:focus, .blogsection input:hover {
background-color: var(--color-ul) !important;
border: 1px solid black;
  }

#recordCount, #currentshownData, #PoprecordCount {
  display: flex;
  position: relative;
  padding: 5px;
  width: max-content;
  font-weight: 600;
  text-align: left;
  font-size: 1.15rem;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

#recordCount, #PoprecordCount{
  border-radius: 50px;
}


#currentshownData {
  background-color: var(--color-default);
  color: var(--color-white);
  width: max-content;
  align-items: stretch;
  justify-content: start;
  height: max-content;
  border-radius: 20px;
  flex-wrap: nowrap;
  user-select: none;
}

.table__header .input-group {
  width: 300px;
  font-weight: 600;
  text-align: left;
  /* height: 100%; */
  font-size: 1.15rem;
  background-color: rgba(255, 12, 12, 0.333);
  color: var(--color-dark-grey);
  border-radius: 100px;
  transition: .2s;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.table__header .input-group:hover {
  background-color: var(--color-ul);
  color: var(--color-default);
}

.table__header .input-group input {
  padding-left: 20px;
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__header .input-group i {
padding: 0px;
right: 0px;
color: #22242F;
border-radius: 0px;
position: relative;
font-size: 1rem;
font-weight: 1000;
}

.New-Button {
  display: flex;
  align-items: center;
  background-color: var(--color-default);
  color: var(--color-white);
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  text-align: center;
  outline: none;
  text-decoration: none;
  width:max-content;
  cursor: pointer;
  /* border: 3px solid var(--color-white); */
  border: none;
  border-radius: 20px;
  position: relative; 
  z-index: 1000;

}

.New-Button i{
  padding: 2px;
}

.New-Button:hover {
  background-color: var(--color-ul) !important;
  color: var(--color-default) !important;
  /* border: 3px solid var(--color-buttons) !important; */

}


.New-Button::before {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + 5px); 
  left: 50%; 
  transform: translateX(-50%); 
  padding: 8px;
  background-color: var(--color-yellow);
  color: white;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.2s ease;
  z-index: 1001;
}

.New-Button:hover::before {
  opacity: 1; 
  z-index: 1002;
}  





.table__body {
  
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  box-sizing: border-box;
  /* background-color: rgba(158, 155, 155, 0.616); */
  margin: 0.3rem auto;
  border-radius: 0.8rem;
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  overflow: auto;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  position: sticky;
  /* animation: revealAndSqueeze 1s ease-in-out; */
}

@keyframes revealAndSqueeze {
  0% {
    width: 0;
  }
  50% {
    width: 110%;
    transform: translateX(-10%);
  }
  100% {
    width: 100%;
    transform: translateX(0);
  }
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  cursor: grabbing;
  overflow: hidden;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.63);
  visibility: hidden;
  cursor: grabbing;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  cursor: grabbing;
}

.SEOTable {
  width: 100%;
  table-layout: fixed;

}

.SEOTable thead th {

  position: sticky;
  top: 0px;;
  border: 1px solid #585757;
  background-color: var(--color-second);
  color: #eeeef8;
  cursor: pointer;
  border-radius: 5px;
  /* text-transform: capitalize; */
  /* animation: revealAndSqueeze 1s ease-in-out; */
}


.SEOTable tbody tr:nth-child(even) {
  background-color: var(--color-body); 
}

.SEOTable tbody tr:nth-child(odd) {
  background-color: var(--light-gray);
}


.SEOTable tbody tr.hide {
  opacity: 0;
  /* transform: translateX(100%); */
}

.SEOTable tbody tr:hover {
  background-color: rgba(218, 250, 75, 0.548) !important;
}

.SEOTable tbody tr td {
  padding: 2px;
  border: 1px solid var(--color-white);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
}

.SEOTable th:first-child,
.SEOTable td:first-child {
  width: 30px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}



.status-pill {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  width: 100%;
  border-radius: 20px;
  margin: 2px, 2px, 2px, 2px;
  text-align: center;
}

.status-draft {
  background-color: #6b00bdce;
  color: #f3eded;
}

.status-waiting {
  background-color: #ffc107e0;
  color: #f3eded;
}

.status-failed {
  background-color: #dc3546d5;
  color: #f3eded;

}

.status-aborted {
  background-color: #ec3709ec;
  color: #f3eded;

}

.status-complete, .status-Complete {
  background-color: #28a745;
  color: #f3eded;
}


.status-run, .status-Run {
  background-color:#3e94f0;
  color: #f3eded;
}


.status-running {
  background-color: #007bff;
  color: #f3eded;
}



.status-aborting {
  background-color: #17a2b8;
  color: #f3eded;
}

.status-pending{
  background-color: #216354;
  color: #f3eded;
}


.status-na, .status-NA {
  background-color: #619cd3;
  color: #f3eded;
}


.status-edit, .status-Edit {
  background-color: #5dc2d1;
  color: #f3eded;
}


.status-editrun, .status-EditRun {
  background-color: #1fa2b6;
  color: #f3eded;
}

.status-duplicate, .status-Duplicate {
  background-color: #d352ec;
  color: #f3eded;
}


.status-duplicaterun, .status-DuplicateRun {
  background-color: #853c94;
  color: #f3eded;
}

.status-add, .status-Add {
  background-color: #1f642f;
  color: #f3eded;
}

.status-addrun, .status-AddRun {
  background-color: #3ec45d;
  color: #f3eded;
}

.status-delete, .status-Delete, .status-trash {
  background-color: #f06f7c;
  color: #f3eded;
}

.status-publish {
  background-color: #0e6e2b;
  color: #f3eded;
}


.status-future, .status-Updated, .status-updated {
  background-color:#436335;
  color: #f3eded;
}

.status-private {
  background-color: #d9534f;
  color: #f3eded;
}

.status-inherit {
  background-color: #7c6e6eee;
  color: #f3eded;
}


.highlight-cells {
  background-color: yellow !important; /* You can adjust the highlight color */
  font-weight: bold !important; /* You can customize the font weight */
}


/* Add the animation to the row with the status-updated class */
.status-row {
  background: linear-gradient(90deg, #660b0baf, #03131d8f, #660b0baf) !important; 
  background-size: 200% 100% !important;
  /* animation: statusUpdate 3s ease-in-out infinite, rowScaling 0.5s ease-in-out alternate infinite !important; */

  animation: statusUpdate 3s ease-in-out infinite !important;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* Define the keyframes for the animation */
@keyframes statusUpdate {
  0%, 100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}


thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
    transition: .9s ease-in-out;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 10px 28px 8px 8px; /* Added extra padding for arrow space */
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: var(--color-default);
  cursor: pointer;
  position: relative;
}

.selected-option:hover {
  background-color: var( --color-buttons);

}

.arrow {
  display: inline-block;
  color: var(--color-white);
  width: 0;
  height: 0;
  font-size: medium;
  font-weight: 600;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: var(--color-white) transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.custom-select:hover .arrow {
  transform: translateY(-50%) rotate(180deg);

}

.options {
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  width: max-content;
  display: none;
  /* width: max-content; */
  border: 1px solid #f5f1f1;
  background-color: var( --medium-gray);
  box-shadow: 10px 10px 5px 5px rgba(44, 44, 44, 0.836);
  border-radius: 8px;
  z-index: 100;
  
}


.options::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  /* cursor: grabbing; */
  overflow: hidden;
}

.options::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.63);
  visibility: hidden;
  /* cursor: grabbing; */
}

.options:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  /* cursor: grabbing; */
}


.option {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

.option i {
  margin-right: 8px;
}

.option:hover {
  background-color: var(--color-default);
  color: var(--color-white);
  /* border-radius: 10px; */
}

.custom-select:hover .options {
  display: block;

}

