@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

button{
  padding: 10px;
}

.buttons {
  position: relative;
  display: grid;
}
.notifications {
position: fixed;
top: 50px;
right: 20px;
z-index: 999;
}

.toast{
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  width: 400px;
  display: grid;
  grid-template-columns: 40px 1fr 70px;
  border-radius: 5px;
  --color: #0abf30;
  background-image: linear-gradient(to right, #0abf3055, #22242F 30%);
  animation: show_toast 0.3s ease forwards;
}
.toast i{
  color: var(--color);
}
.toast .title{
  position: relative;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  left: 0;
  top: 0;
  justify-content: left;
  align-items: flex-start;
}
.toast i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.toast span,
.toast .close{
  opacity: 0.6;
  color: #fff
}

@keyframes show_toast {
0% {
  transform: translateX(100%);
}
40% {
  transform: translateX(-5%);
}
80% {
  transform: translateX(0%);
}
100% {
  transform: translateX(-10%);
}
}
.toast::before{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  box-shadow: 0 0 10px var(--color);
  content: '';
  width: 100%;
  height: 3px;
  animation: timeOut 5s linear 1 forwards;
}
@keyframes timeOut{
  to{
      width: 0%;  
  }
}
/* error */
.toast.error{
 --color: #f24d4c;
 background-image: linear-gradient(to right, #f24d4c55, #22242F 30%);
}
/* warning */
.toast.warning{
  --color: #e9bd0c;
  background-image: linear-gradient(to right, #e9bd0c55, #22242F 30%);
}
/* info */
.toast.info{
  --color: #3498db;
  background-image: linear-gradient(to right, #3498db55, #22242F 30%);
}

/* Main table CSS */

.table_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* max-width: fit-content;
  max-height: fit-content; */

  top:var( --header-height);
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem rgba(226, 125, 125, 0.333);
    border-radius: 20px;
    /* overflow: hidden; */
}

.table__header {
  top:5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    height: 40px;
    background-color: #fff4;
    padding: .8rem 1rem;

}

#recordCount {
    background-color: rgba(129, 124, 124, 0.521);
    color: var(--color-white);
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    text-align: center;
    /* align-self: auto; */
    width: 20%;
    border-radius: 20px;
}


.New-Buton {
  display: flex;
  align-items: center;
  background-color: var(--color-default);
  color: var(--color-white);
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  text-align: center;
  outline: none;
  text-decoration: none;
  /* align-self: auto; */
  width: auto;
  cursor: pointer;
  /* border: 3px solid var(--color-white); */
  border: none;
  border-radius: 20px;
}

.New-Buton > i{
  padding: 5px 5px 5px 5px;
  
}

.New-Buton:hover {
/* scale: 1.025; */
background-color: var(--color-white);
color: var(--color-default);
border: 3px solid var(--color-buttons);
/* border: none; */

}


.table__header .input-group {
    width: 15%;
    height: 100%;
    background-color: #fff5;
    color: var(--color-default);
    padding: 0 .8rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.table__header .input-group:hover {
   width: 16%;
    background-color: var(--color-ul);
    color: var(--color-default);
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group input {
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
  
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;

  box-sizing: border-box;
  /* width: 100dvh;
  max-height: 100dvh; */
  background-color: rgba(158, 155, 155, 0.616);
  margin: 0.3rem auto;
  border-radius: 0.8rem;
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  overflow: auto;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  animation: revealAndSqueeze 1s ease-in-out;
}

@keyframes revealAndSqueeze {
  0% {
    width: 0;
  }
  50% {
    width: 110%;
    transform: translateX(-10%);
  }
  100% {
    width: 100%;
    transform: translateX(0);
  }
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  cursor: grabbing;
  overflow: hidden;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.63);
  visibility: hidden;
  cursor: grabbing;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  cursor: grabbing;
}

#main {
  width: 100%;
  table-layout: fixed;
      /* min-width: max-content; */
}

thead th {
  position: sticky;
  top: 0px;;
  border: 1px solid #ccc;
  background-color: #126d6de7;
  color: #eeeef8;
  cursor: pointer;
  border-radius: 5px;
  text-transform: capitalize;
  animation: revealAndSqueeze 1s ease-in-out;
}


#main > tbody > tr:nth-child(even) {
  background-color: #0000000b;
}

#main > tbody > tr {
  transition: 0.5s ease-in-out, background-color 0.1s;
  animation: revealAndSqueeze 1s ease-in-out;
}

#main > tbody > tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

#main > tbody > tr:hover {
  background-color: rgba(218, 250, 75, 0.548) !important;
}

#main > tbody > tr > td {
  padding: 0.2rem;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main > tbody > tr.hide > td {
  padding: 0;
  font: 0 / 0 sans-serif;
}



.status-pill {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  width: 100%;
  border-radius: 20px;
  margin: 2px, 2px, 2px, 2px;
  text-align: center;
}

.status-draft {
  background-color: #6b00bdce;
  color: #f3eded;
}

.status-waiting {
  background-color: #ffc107e0;
  color: #f3eded;
}

.status-failed {
  background-color: #dc3546d5;
  color: #f3eded;

}

.status-aborted {
  background-color: #ec3709ec;
  color: #f3eded;

}

.status-complete {
  background-color: #28a745;
  color: #f3eded;
}

.status-running {
  background-color: #007bff;
  color: #f3eded;
}

.status-aborting {
  background-color: #17a2b8;
  color: #f3eded;
}

.status-pending {
  background-color: #ccc90a;
  color: #f3eded;
}


 /*responsive*/

 @media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
    text-align: left;
		padding: 10px;
		position: relative;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: left;
		padding: 10px;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
 
/* Add the animation to the row with the status-updated class */
.status-row {
  background: linear-gradient(90deg, #660b0baf, #03131d8f, #660b0baf) !important; 
  background-size: 200% 100% !important;
  /* animation: statusUpdate 3s ease-in-out infinite, rowScaling 0.5s ease-in-out alternate infinite !important; */

  animation: statusUpdate 3s ease-in-out infinite !important;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* Define the keyframes for the animation */
@keyframes statusUpdate {
  0%, 100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}


thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}




thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
    transition: .9s ease-in-out;
}

/* 
#table-filter {
  position: relative;
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  border-radius: 50px;
  appearance: none;
  -webkit-appearance: none;
  padding-right: 20px;
  border: 1px solid #ccc;
  background-color: var(--light-gray);
  cursor: pointer;
}

#table-filter option {
  font-size: 14px;
}

#table-filter:hover, #table-filter:focus {
  background-color: var(--color-white);
  color: var(--color-default);
  scale: 1.2;
}

#table-filter::before {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

#table-filter:hover::before {
  color: var(--color-default);
}

#table-filter:hover option {
  display: block;
}

#table-filter::-ms-expand {
  display: none;
} */

.custom-select {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 10px 28px 8px 8px; /* Added extra padding for arrow space */
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: var(--light-gray);
  cursor: pointer;
  position: relative;
}

.arrow {
  display: inline-block;
  color: var(--color-ul);
  width: 0;
  height: 0;
  font-size: medium;
  font-weight: 600;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: var(--color-default) transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.custom-select:hover .arrow {
  transform: translateY(-50%) rotate(180deg);

}

.options {
  position: absolute;
  
  top: calc(100% + 0px);
  left: 0;
  display: none;
  width: max-content;
  border: 1px solid #ccc;
  background-color: var(--color-white);
  border-radius: 8px;
  z-index: 100;
  
}

.option {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

.option i {
  margin-right: 8px;
}

.option:hover {
  background-color: var(--color-default);
  color: var(--color-white);
  /* border-radius: 10px; */
}

.custom-select:hover .options {
  display: block;
}

